$fprimary = 'Euclid Square', sans-serif;

$primary = #3993F6
$secondary = #FEA400
$black = #7F7F7F
$grey = #D6D6D6

$ease = cubic-bezier(0.165, 0.84, 0.44, 1);

$xsmall = 'screen and (max-width: 400px) and (max-height: 500px)'
$small = 'screen and (max-width: 600px)'
$medium = 'screen and (max-width: 960px)'
$large = 'screen and (max-width: 1100px)'
$xl = 'screen and (min-width: 1800px)'